<!-- Sidebar          -->
<aside class="sidebar">
  <div class="padding-top-2x hidden-lg-up"></div>
  <!-- Widget Categories-->
  <app-catalogue-sidebar-category-filter></app-catalogue-sidebar-category-filter>
  <!-- Widget Price Range-->
  <app-catalogue-sidebar-price-range-filter></app-catalogue-sidebar-price-range-filter>
  <!-- Widget Brand Filter-->
  <app-catalogue-sidebar-brand-filter></app-catalogue-sidebar-brand-filter>
  <!-- Widget Size Filter-->
  <app-catalogue-sidebar-size-filter></app-catalogue-sidebar-size-filter>
  <!-- Promo Banner -->
<!--  <section class="promo-box" style="background-image: url(./assets/img/banners/02.jpg);">-->
<!--    &lt;!&ndash; Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.&ndash;&gt;<span-->
<!--    class="overlay-dark" style="opacity: .45;"></span>-->
<!--    <div class="promo-box-content text-center padding-top-3x padding-bottom-2x">-->
<!--      <h4 class="text-light text-thin text-shadow">New Collection of</h4>-->
<!--      <h3 class="text-bold text-light text-shadow">Sunglassess</h3><a class="btn btn-sm btn-primary"-->
<!--                                                                      href="#">Shop Now</a>-->
<!--    </div>-->
<!--  </section>-->
</aside>
