<div class="padding-top-2x mt-2 hidden-md-up"></div>
<div class="rating-stars">
  <i *ngFor="let rating of [].constructor(5); let i = index"
     class="icon-star {{weightedAverageRounded - i - 1 >= 0?'filled':null}}"></i>
</div>
<span class="text-muted align-middle">&nbsp;&nbsp;{{weightedAverage}} | {{reviewCount}} customer reviews</span>
<h2 class="padding-top-1x text-normal">{{model.name}}</h2>
<span class="h2 d-block">
              <del class="text-muted text-normal" *ngIf="model.discountedPrice!=0.00">{{model.price | number : '1.2'}}</del>
      R{{(model.discountedPrice == 0.00 ? model.price : model.discountedPrice) | number : '1.2'}}
</span>
<p>{{model.description}}</p>
<div class="row margin-top-1x">
  <div class="col-sm-4" *ngIf="model.sizes">
    <div class="form-group">
      <label for="size">Men's size</label>
      <select class="form-control" id="size" name="size" [(ngModel)]="formModel.size">
        <option  value="" selected>Chooze size</option>
        <option *ngFor="let option of model.sizes" [value]="option.key">{{option.value}}</option>
      </select>
    </div>
  </div>
  <div class="col-sm-5" *ngIf="model.colors">
    <div class="form-group">
      <label for="color">Choose color</label>
      <select class="form-control" id="color" name="color" [(ngModel)]="formModel.color">
        <option value="" selected="selected">Choose color</option>
        <option *ngFor="let option of model.colors" [value]="option.key">{{option.value}}</option>
      </select>
    </div>
  </div>
    <div class="col-sm-3 d-none">
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <select class="form-control" id="quantity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
</div>
<div class="pt-1 mb-2"><span class="text-medium">SKU:</span> #21457832</div>
<div class="padding-bottom-1x mb-2" *ngIf="model.categories">
  <span class="text-medium">Categories:&nbsp;</span>
  <a class="navi-link" *ngFor="let item of model.categories"
     [routerLink]="['/catalogue']"
     [queryParams]="{department: null, category: item.categoryId, page: 1}"
     queryParamsHandling="merge"> {{item.name}},</a>
</div>
<hr class="mb-3">
<div class="d-flex flex-wrap justify-content-between">
  <div class="entry-share mt-2 mb-2"><span class="text-muted d-none">Share:</span>
    <div class="share-links d-none">
      <a class="social-button shape-circle sb-facebook" href="#"
         data-toggle="tooltip" data-placement="top" title="Facebook">
        <i class="socicon-facebook"></i>
      </a>
      <a class="social-button shape-circle sb-twitter" href="#"
         data-toggle="tooltip" data-placement="top" title="Twitter">
        <i class="socicon-twitter"></i>
      </a>
      <a class="social-button shape-circle sb-instagram" href="#"
         data-toggle="tooltip" data-placement="top" title="Instagram">
        <i class="socicon-instagram"></i>
      </a>
      <a class="social-button shape-circle sb-google-plus" href="#"
         data-toggle="tooltip" data-placement="top" title="Google +">
        <i class="socicon-googleplus"></i>
      </a>
    </div>
  </div>
  <div class="sp-buttons mt-2 mb-2">
    <button class="btn btn-outline-secondary btn-sm btn-wishlist d-none"
            data-toggle="tooltip" title="Whishlist">
      <i class="icon-heart"></i>
    </button>
    <button class="btn btn-primary" data-toast data-toast-type="success" data-toast-position="topRight"
            data-toast-icon="icon-circle-check" data-toast-title="Product"
            data-toast-message="successfuly added to cart!" (click)="addToCart(formModel)" [disabled]="formModel.size == '' || formModel.color == ''">
      <i class="icon-bag"></i> Add to Cart
    </button>
  </div>
</div>
