<h4>Choose ShippingModel Method</h4>
<hr class="padding-bottom-1x">
<form #shippingForm="ngForm">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-default">
      <tr>
        <th>ShippingModel method</th>
        <th>Delivery time</th>
        <th>Handling fee</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of models">
        <td class="align-middle">
          <span class="text-medium">{{item.deliveryMethod}}</span><br>
          <!--        <span class="text-muted text-sm">All Addresses(default zone), United States & Canada</span>-->
        </td>
        <td class="align-middle">{{item.deliveryDuration}}</td>
        <td class="align-middle">{{item.shippingCost}}</td>
        <td class="align-middle">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" name="shipping_id"
                   [(ngModel)]="order.shippingId"
                   [value]="item.shippingId" [checked]="order.shippingId === item.shippingId"
                   (change)="onSelect()" required>
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>

<div class="checkout-footer">
  <div class="column">
    <a class="btn btn-outline-secondary" [routerLink]="['../address']">
      <i class="icon-arrow-left"></i>
      <span class="hidden-xs-down">Back</span>
    </a>
  </div>
  <div class="column">
    <a class="btn btn-primary" (click)="onSubmit()"
       [class.disabled]="shippingForm.invalid">
      <span class="hidden-xs-down">Continue&nbsp;</span>
      <i class="icon-arrow-right"></i>
    </a>
  </div>
</div>
