<div class="modal fade" id="orderDetails" tabindex="-1" *ngIf="order">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order No - {{order.orderId}}</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive shopping-cart">
          <table class="table">
            <thead>
            <tr>
              <th>Product Name</th>
              <th class="text-center">Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items">
              <td>
                <div class="product-item">
                  <a class="product-thumb" [routerLink]="['/product',item.productId]">
                    <img [src]="productImageFolder+item.product.thumbnail" alt="{{item.productName}}">
                  </a>
                  <div class="product-info">
                    <h4 class="product-title">
                      <a [routerLink]="['/product',item.productId]">
                        {{item.productName}}
                        <small>x {{item.quantity}}</small>
                      </a>
                    </h4>
                    <span><em>Size:</em> {{item.attributes.split(', ')[0]}}</span>
                    <span><em>Color:</em> {{item.attributes.split(', ')[1]}}</span>
                  </div>
                </div>
              </td>
              <td class="text-center text-lg text-medium">{{item.subtotal | number: '1.2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <hr class="mb-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center pb-2">
          <div class="px-2 py-1">Subtotal: <span class='text-medium'>{{subtotal | number :'1.2'}}</span></div>
          <div class="px-2 py-1">ShippingModel: <span class='text-medium'>{{shippingCost | number: '1.2'}}</span></div>
          <div class="px-2 py-1">Tax: <span class='text-medium'>{{estimatedTax | number: '1.2' }}</span></div>
          <div class="text-lg px-2 py-1">Total: <span class='text-medium'>{{checkoutTotal | number: '1.2' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
