
<!-- Wishlist Table-->
<div class="table-responsive wishlist-table margin-bottom-none">
  <table class="table">
    <thead>
    <tr>
      <th>Product Name</th>
      <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Wishlist</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="img/shop/cart/01.jpg" alt="Product"></a>
          <div class="product-info">
            <h4 class="product-title"><a href="shop-single.html">Unionbay Park</a></h4>
            <div class="text-lg text-medium text-muted">$43.90</div>
            <div>Availability:
              <div class="d-inline text-success">In Stock</div>
            </div>
          </div>
        </div>
      </td>
      <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="Remove item"><i class="icon-cross"></i></a></td>
    </tr>
    <tr>
      <td>
        <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="img/shop/cart/02.jpg" alt="Product"></a>
          <div class="product-info">
            <h4 class="product-title"><a href="shop-single.html">Daily Fabric Cap</a></h4>
            <div class="text-lg text-medium text-muted">$24.70</div>
            <div>Availability:
              <div class="d-inline text-warning">2 - 3 Weeks</div>
            </div>
          </div>
        </div>
      </td>
      <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="Remove item"><i class="icon-cross"></i></a></td>
    </tr>
    <tr>
      <td>
        <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="img/shop/cart/03.jpg" alt="Product"></a>
          <div class="product-info">
            <h4 class="product-title"><a href="shop-single.html">Cole Haan Crossbody</a></h4>
            <div class="text-lg text-medium text-muted">$200.00</div>
            <div>Availability:
              <div class="d-inline text-success">In Stock</div>
            </div>
          </div>
        </div>
      </td>
      <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="Remove item"><i class="icon-cross"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>
<hr class="mb-4">
<label class="custom-control custom-checkbox d-block">
  <input class="custom-control-input" type="checkbox" checked>
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Inform me when item from my wishlist is available</span>
</label>
