
.table .qty-minus,
.table .qty-plus {
  background-color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.table .qty-minus i,
.table .qty-plus i {
  line-height: 30px;
  font-size: 10px;
}

.table .qty-text {
  background-color: #f6f6f6;
  border: medium none;
  display: inline-block;
  height: 30px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  text-align: center;
  font-size: 12px;
}

.table .quantity {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}
